apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: production

resources:
  - ../../base
  - ingress.yaml

images:
  - name: ghcr.io/faulty-technology/hello-k8s
    newTag: latest # Overridden in CI
